body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:89px;
  width:294px;
  height:500px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:93px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:94px;
  width:10px;
  height:10px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:95px;
  width:10px;
  height:8px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:95px;
  width:12px;
  height:8px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:95px;
  width:15px;
  height:8px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:93px;
  width:17px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:70px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:518px;
  width:294px;
  height:70px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:531px;
  width:28px;
  height:30px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:563px;
  width:29px;
  height:17px;
  color:#999999;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:531px;
  width:28px;
  height:30px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:564px;
  width:29px;
  height:17px;
  color:#999999;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:564px;
  width:29px;
  height:17px;
  color:#FF9900;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:532px;
  width:28px;
  height:28px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:115px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:161px;
  width:294px;
  height:47px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:172px;
  width:41px;
  height:25px;
  color:#00FF00;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:208px;
  width:294px;
  height:47px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u2519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:224px;
  width:11px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:255px;
  width:294px;
  height:47px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:271px;
  width:11px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:88px;
  width:294px;
  height:500px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:92px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:93px;
  width:10px;
  height:10px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:94px;
  width:10px;
  height:8px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:94px;
  width:12px;
  height:8px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:94px;
  width:15px;
  height:8px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:92px;
  width:17px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:116px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:47px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:160px;
  width:294px;
  height:47px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u2546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:171px;
  width:41px;
  height:25px;
  color:#00FF00;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:240px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:236px;
  width:251px;
  height:240px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:289px;
  width:10px;
  height:7px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:120px;
  width:10px;
  height:13px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF9933;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:118px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF9933;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:322px;
  width:10px;
  height:7px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:153px;
  height:42px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:224px;
  width:141px;
  height:20px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:234px;
  width:33px;
  height:36px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:248px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:93px;
  width:465px;
  height:377px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:153px;
  height:42px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:117px;
  width:141px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:121px;
  width:13px;
  height:10px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:56px;
  height:6px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:83px;
  width:53px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:563px;
  height:6px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:58px;
  width:560px;
  height:3px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:43px;
  height:42px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:64px;
  width:31px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
